.root {
  align-self: flex-start;
  height: fit-content;
  border: 2px solid #4d5161;
  border-radius: 1.4rem;
  background-color: var(--background);
  // position: relative;
  margin-bottom: 8px;
  white-space: nowrap;
  .navButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    gap: 1rem;

    .icon {
      width: 2.5rem;
    }
    .title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      color: var(--white);
    }
    > .chevronIcon {
      font-size: 2.5rem;
      color: var(--white);
    }
  }
}

@media screen and (max-width: 372px) {
  .root {
    margin-top: 0.5rem;
    .navButton {
      .icon {
        width: 2rem;
      }
      .title {
        font-size: 1.5rem;
      }
      > .chevronIcon {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .root {
    margin-top: 1rem;
    .navButton {
      .icon {
        width: 1.5rem;
      }
      .title {
        font-size: 1rem;
      }
      > .chevronIcon {
        font-size: 1.5rem;
      }
    }
  }
}
