.root {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;

  .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    background-color: var(--darkGray);
    display: grid;
    place-items: center;
    color: var(--white);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .name {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
  }
}
