.root {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
  gap: 2rem;
  > * {
    height: 100%;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1300px) {
  .root {
    gap: 1rem;
  }
}
