.root {
  height: 100vh;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  .title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.5px;

    color: var(--white);
  }

  .label {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #a3a3a3;
    margin-bottom: 0.5rem;
  }
  .value {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
  }
}

.closeIcon {
  font-size: 2.5rem;
  color: #616575;
}
