.root {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  height: 100vh;

  .heading {
    .title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      letter-spacing: 0.5px;
      color: var(--white);
    }
  }
  .label {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #a3a3a3;
    margin-bottom: 0.5rem;
  }
  .value {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
  }
  .offerExpire {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .data {
      flex: 1;
    }
    .button {
      width: fit-content;
    }
  }
  .table {
    margin-top: 2rem;
  }
  .cancel {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    background: linear-gradient(180deg, #ffd572 0%, #febd38 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.closeIcon {
  font-size: 2.5rem;
  color: #616575;
}
.buttonContainer {
  padding: 0 0 4rem 0;
}

@media screen and (max-width: 500px) {
  .root {
    padding: 0;
    margin: 0;
    padding-right: 0;

    .heading {
      margin: 0;
      .title {
        font-size: 2rem;
        font-weight: 400;
        .buy {
          margin-right: 2.5rem;
          font-size: 2rem;
          font-weight: 400;
        }

        .for {
          font-size: 1.5rem;
          margin: 0 1rem;
        }
      }
    }

    .value {
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
