.mainLayoutRoot {
  // padding: 2rem 4rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .mainLayoutTop {
    .layoutTitle,
    .layoutDesc {
      font-family: "Inter", sans-serif;
      font-style: normal;
    }
    .layoutTitle {
      font-weight: 600;
      color: var(--white);
    }

    .layoutDesc {
      font-weight: 500;
      font-size: 1.8rem;
      color: var(--white);
      opacity: 0.5;
    }
  }
  .contentRoot {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
