.tabsList {
  width: fit-content;
  border-bottom: none;
  border: 1px solid #4d5161;
  border-radius: 3.4rem;
  padding: 0.7rem;
  height: 5.2rem;
  margin-bottom: 3rem;
}

.tab {
  height: 100%;
  padding: 0 4rem;
  border: none;
  font-family: "SFProText", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 17px;
  color: #91939a;

  /* identical to box height */

  text-align: center;

  &[data-active] {
    background-color: var(--primary);
    color: var(--background);
    border-radius: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .tabsList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .tab {
    flex: 1;
  }
}

@media screen and (max-width: 330px) {
 

  .tab {
    padding: 0 1rem;
  }
}
