.root {
  .pageTitle,
  .pageDesc {
    font-family: "Inter", sans-serif;
    font-style: normal;
  }
  .pageTitle {
    font-weight: 600;
    font-size: 4.2rem;
    color: var(--white);
  }

  .pageDesc {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--white);
    opacity: 0.5;
  }

  .mainContent {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }
  }

  .bottomSection {
    grid-area: main;
    // height: 35rem;

    .bottomSectionContent {
      display: grid;
      grid-template-columns: 1fr 5rem 1fr;
      gap: 5rem;
      padding: 3rem;
      font-size: 2rem;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
  }
  .middle {
    display: flex;
    justify-content: center;
  }
  // }
}
