.root {
  .pageTitle,
  .pageDesc {
    font-family: "Inter", sans-serif;
    font-style: normal;
  }
  .pageTitle {
    font-weight: 600;
    font-size: 3.8rem;
    color: var(--white);
  }

  .pageDesc {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--white);
    opacity: 0.5;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}
