.box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 1rem;

  .subTitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
}

.gitGraph {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: scroll;

  .submitButton {
    position: absolute;
    top: 0;
    right: 0%;
  }
  .submitButton1 {
    position: absolute;
    bottom: 0;
    right: 30%;
  }
}

.dot {
  background-color: red;
  width: 10px;
  height: 10px;
}

.graphBoxContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1.2rem;
  padding: 2rem 0;

  .graphBox {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.line {
  width: 38px;
  height: 0px;
  opacity: 0.7;
  border: 1px solid #909092;
}
.vericalGraph {
  display: flex;
  padding: 0 1rem 5rem 11.5rem;
  position: relative;

  .firstVeritcalGraph {
    position: absolute;
    top: 1rem;
    left: 18rem;
  }
}

.pointerBox {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .pointNumber {
    position: absolute;
    top: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 6px;
    line-height: 7px;
    color: #c6c6c6;
  }

  .activePointer {
    background: linear-gradient(180deg, #ffd572 0%, #febd38 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 10px 20px rgba(251, 204, 100, 0.25);
  }

  .checkboxContainer {
    border-radius: 50%;
    border: 1px solid #707070;
    min-width: 1.2rem;
    min-height: 1.2rem;
    max-width: 1.2rem;
    max-height: 1.2rem;
    position: relative;
    // line-height: 18px;
    .checkbox {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #707070;
      border-radius: 50%;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
    }
  }
  .activeCheckbox {
    border-color: #febd38;
    .checkbox:checked {
      top: 0.5px;
      bottom: 0.5px;
      right: 0.5px;
      left: 0.5px;
      background: linear-gradient(180deg, #ffd572 0%, #febd38 100%);
    }
  }
}

@media screen and (max-width: 768px) {
  .graphBoxContainer {
    flex-direction: row;
    .graphBox {
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 1rem;
      flex-direction: column;
    }
  }

  .lineContainer{
    padding-left: 4px;
  
    .line {
      width: 0;
      height: 38px;
    }
  }
  .vericalGraph {
    padding: 0 ;
    flex-direction: column;
    gap: 5rem;
  
    .firstVeritcalGraph {
      position: absolute;
      top: 1rem;
      left: 10rem;
    }
  }

  .pointerBox {
    height: fit-content;
    width: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  
    .pointNumber {
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .box {
    padding: 0;
  }

  .gitGraph {
    .submitButton {
      top: 40%;
      right: 2%;
    }
    .submitButton1 {
      position: absolute;
      bottom: 0;
      right: calc(100vw - 110%);
    }
  }
}
