.layout {
  width: 100%;
  background-color: var(--background);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 33rem 1fr;
  .main {
    overflow-y: scroll;
    .content {
      padding: 2rem 5rem;
    }
  }
}

.mobileSidebarContainer {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    110.35deg,
    rgba(0, 0, 0, 0.6) 3.31%,
    rgba(0, 0, 0, 0.48) 101.51%
  );
  backdrop-filter: blur(2.5px);
  .mobileSidebar {
    width: 80%;
    height: 100vh;
  }
}

@media only screen and (max-width: 1680px) {
  .layout {
    .content {
      padding: 2rem 4rem;
    }
  }
}
@media only screen and (max-width: 1360px) {
  .layout {
    grid-template-columns: 28rem 1fr;
    .main {
      .content {
        padding: 2rem 3rem;
      }
    }
  }
}
@media only screen and (max-width: 1006px) {
  .layout {
    grid-template-columns: 1fr;
    .sidebar {
      display: none;
    }
    .mobileSidebarContainer {
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    .content {
      padding: 2rem 3rem;
    }
  }
}
