.exchangeForm {
  .exchangeFormContent {
    display: grid;
    font-size: 2rem;
    grid-template-columns: 1fr 5rem 1fr;
    gap: 2rem;
    margin-bottom: 35px;

    .font {
      color: white;
      font-size: 20px;
    }
  }
}

.offersTable {
  .innerWrapper {
    padding: 2rem;
    white-space: nowrap;

    .mobileTableInner {
      display: none;
    }
  }
}

.collateralLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.addressBox {
  position: relative;

  .generateAddressButton {
    position: absolute;
    right: 0;
    top: 40px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
  }
}

@media only screen and (max-width: 1300px) {
  .exchangeForm {
    .exchangeFormContent {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  //   .offersTable {
  //     .innerWrapper {
  //       .tableInner {
  //         display: none;
  //       }
  //       .mobileTableInner {
  //         display: block;
  //       }
  //     }
  //   }

  .addressBox {
    .generateAddressButton {
      top: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .exchangeForm {
    .exchangeFormContent {
      gap: 3rem;
      padding: 0;

      .temporary {
        display: none;
      }
    }
  }

  .offersTable {
    .innerWrapper {
      padding: 0;

      .tableInner {
        display: none;
      }

      .mobileTableInner {
        display: block;
      }
    }
  }

  .addressBox {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .generateAddressButton {
      position: relative;
      right: unset;
      top: unset;
      order: 1;
    }
  }
}

@media only screen and (max-width: 330px) {
  .exchangeForm {
    padding: 0;

    .exchangeFormContent {
      gap: 2rem;
      padding: 0;
    }
  }
}