.root {
  .pageTitle,
  .pageDesc {
    font-family: "Inter", sans-serif;
    font-style: normal;
  }
  .pageTitle {
    font-weight: 600;
    font-size: 3.8rem;
    color: var(--white);
  }

  .pageDesc {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--white);
    opacity: 0.5;
  }

  .exchangeForm {
    margin-top: 4rem;
    height: 55rem;
    .exchangeFormContent {
      display: grid;
      grid-template-columns: 1fr 5rem 1fr;
      gap: 3rem;
      padding: 1rem 2rem;
    }
  }
  .offersTable {
    margin-top: 4rem;
    .innerWrapper {
      padding: 3rem;
      // padding-bottom: 4rem;
    }
  }
}

.collateralLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
}
