.root {
  .pageTitle,
  .pageDesc {
    font-family: "Inter", sans-serif;
    font-style: normal;
  }
  .pageTitle {
    font-weight: 600;
    font-size: 4.2rem;
    color: var(--white);
  }

  .pageDesc {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--white);
    opacity: 0.5;
  }

  .exchangeForm {
    margin-top: 4rem;
    .exchangeFormContent {
      display: grid;
      // grid-template-columns: 1fr 6rem 1fr;
      // gap: 4rem;
      // padding: 3rem;
      font-size: 2rem;
      grid-template-columns: 1fr 5rem 1fr;
      gap: 2.5rem;
      padding: 3rem;
    }
  }
  .offersTable {
    margin-top: 5rem;
    .innerWrapper {
      padding: 3rem;
    }
  }
}

.collateralLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 1300px) {
  .root {
    .exchangeForm {
      .exchangeFormContent {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .root {
    .exchangeForm {
      .exchangeFormContent {
        gap: 3rem;
        padding: 0;
      }
    }
    .offersTable {
      .innerWrapper {
        padding: 0;
      }
    }
  }
}
@media only screen and (max-width: 330px) {
  .root {
    .exchangeForm {
      padding: 0;
      .exchangeFormContent {
        gap: 2rem;
        padding: 0;
      }
    }
  }
}
