.earnPage {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  section {
    > h3 {
      color: var(--dark);
      margin-bottom: 1rem;
    }
    .box {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      // background-color: var(--white);
      border-radius: 1rem;
      // border: 1px solid var(--border);

      .subTitle {
        // color: var(--dark);
        // font-size: 2rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
      }
    }
  }
}

.planningCell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.actionsCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .earnPage {
    padding: 0;
    section {
      .box {
        padding: 0;
      }
    }
  }
}
