.sendBtcBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px 16px;
  gap: 8px;
  top: 6rem;
  left: 0;
  position: absolute;
  width: 319px;
  height: 180px;

  background: #222225;
  border-radius: 16px;
  .sendBtcTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > span {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #f4f4f4;
    }
    .closeIcon {
      cursor: pointer;
      font-size: 20px;
    }
  }

  .inputField {
    width: 100%;
  }
}
