.navbar {
  background-color: var(--background);
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right {
    height: 7rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
}
