.sidebar {
  width: 33rem;
  max-height: 100vh;
  position: sticky;
  top: 0;
  padding: 3rem 0;
  background-color: var(--background);
  height: 100%;
  border-right: 3px solid var(--black);

  .navList {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .brandLogo {
      padding-left: 3rem;
      margin-bottom: 3rem;
    }

    .sidebarUser {
      justify-self: flex-end;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin: auto 3rem 0 3rem;
      margin-top: auto;
      padding: 1rem;
      border-radius: 1rem;
      cursor: pointer;
      &:hover {
        background-color: var(--darkGray);
      }

      .userDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        .userFullName {
          color: var(--gray);
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 2rem;
        }
      }
    }

    .navItem {
      .navLink {
        color: var(--dark);
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 4rem 1fr;
        gap: 1.5rem;
        text-decoration: none;
        padding: 0.5rem 0;
        padding-left: 4rem;
        &.active {
          color: var(--white);
          position: relative;

          &::before {
            content: "";
            width: 0.8rem;
            height: 100%;
            position: absolute;
            background: linear-gradient(180deg, #ffd572 0%, #febd38 100%);
            border-radius: 0px 8px 8px 0px;
            box-shadow: 5px 0px 20px rgba(251, 204, 100, 0.35);
          }
        }

        .icon {
          width: 3.5rem;
          filter: drop-shadow(3px);
        }

        .navItem {
          width: 100%;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 2.2rem;
          column-rule: var(--gray);

          padding: 1rem;
          cursor: pointer;
          transition: color 0.3s;
          &:hover {
            color: var(--white);
          }
          .icon {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
