.generateWalletRoot {
  padding: 2rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  height: calc(100vh - 2vh);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.5px;
  color: var(--white);

  .heading {
    .headTitle {
      font-weight: 700;
      font-size: 22px;
    }
    .title {
      font-weight: 600;
      font-size: 16px;
    }
    .closeIcon {
      font-size: 2.5rem;
      color: #616575;
    }
  }
}


.mobileDialog{
}

@media screen and (max-width: 500px) {

 

  .generateWalletRoot {
    padding: 0 0 1rem 0;
    gap: 2rem;
    height: fit-content;
    color: var(--white);

    .heading {
      .crossIconBox{
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .headTitle {
        font-weight: 700;
        font-size: 22px;
      }
      .title {
        font-weight: 600;
        font-size: 16px;
      }
      .closeIcon {
        font-size: 3rem;
        color: #616575;
      }
    }
  }
}
