// .root {
// }

.panelCont {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.recentMobileTable {
  display: none;
}

.mobileHistoryTable {
  display: none;
}
.box {
  padding: 2rem;
  white-space: nowrap;
}
.allSwapRoot {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 500px) {
  .recentTable {
    display: none;
  }
  .historyTable {
    display: none;
  }
  .recentMobileTable {
    display: block;
  }
  .mobileHistoryTable {
    display: block;
  }

  br {
    display: none;
  }

  .box {
    padding: 0;
  }
}
