.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  .caption {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--white);
    flex: 1;
  }
  .actions {
    display: flex;
    gap: 1rem;
    .icon {
      font-size: 4rem;
      cursor: pointer;
    }
  }
}

.cols {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem !important;
  color: var(--white);
  opacity: 0.5;
}
.tbody {
  tr {
    td {
      border-top: none !important;
    }
  }
  .pointer {
    cursor: pointer;
  }
}

.td {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem !important;
  color: var(--white);
}
.tableContainer {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
