.root {
}
.caption {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--white);
}

.cols {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--white);
  opacity: 0.5;
}
.tbody {
  tr {
    td {
      border-top: none !important;
    }
  }
}

.td {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--white);
}
