* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #161619;
  --gray: #737375;
  --darkGray: #1d1d20;
  --dark: #4a4453;
  --border: #4a445320;
  --white: #ffffff;
  --black: #000000;
  --primary: #805ec2;
}
html {
  font-size: 62.5%;
}
