* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #161619;
  --gray: #737375;
  --darkGray: #1d1d20;
  --dark: #4a4453;
  --border: #4a445320;
  --white: #ffffff;
  --black: #000000;
  --primary: #febd38;
}

@font-face {
  font-family: SFProText;
  src: url("../public/fonts/SFProText-Medium.ttf");
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1680px) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
