.root {
  padding: 2rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  height: calc(100vh - 2vh);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.5px;
  color: var(--white);

  .heading {
    .headTitle {
      font-weight: 700;
      font-size: 22px;
    }
    .title {
      font-weight: 600;
      font-size: 16px;

      .buy {
        margin-right: 1rem;
        font-size: 16px;
        font-weight: 400;
      }

      .for {
        font-size: 14px;
        padding: 0 1rem;
        opacity: 0.5;
        font-weight: 400;
      }
    }
  }

  .stepsConatiner {
    display: flex;
    flex-direction: column;
    .step {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .stepTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        .svg {
          padding: 0;
          margin: 0;
          position: absolute;
          left: -2.7rem;
          top: -0.5rem;
        }
        .stepCount {
          font-weight: 700;
          font-size: 16px;
          padding-left: 3rem;
        }
      }
      .stepsContentsContainer {
        width: 100%;
        padding-left: 1rem;
        .stepContent {
          // border-left: 2px dashed #56596a;
          background: linear-gradient(
              to right,
              rgba(255, 166, 0, 0) 50%,
              rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(rgba(0, 0, 255, 0) 50%, rgba(255, 255, 255, 0) 0%),
            linear-gradient(
              to right,
              rgba(0, 128, 0, 0) 50%,
              rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(#56596a 50%, rgba(255, 255, 255, 0) 0%);
          background-position: top, right, bottom, left;
          background-repeat: repeat-x, repeat-y;
          background-size: 10px 1px, 1px 2rem;
          padding-left: 3rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-bottom: 3rem;
          gap: 0.5rem;

          .stepItem {
            width: fit-content;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            // padding-bottom: 1rem;

            .checkboxContainer {
              border-radius: 50%;
              border: 1px solid #5f647e;
              min-width: 1.5rem;
              min-height: 1.5rem;
              max-width: 1.5rem;
              max-height: 1.5rem;
              position: relative;
              // line-height: 18px;
              .checkbox {
                position: absolute;
                // margin: 1px;

                top: 1px;
                bottom: 1px;
                right: 1px;
                left: 1px;
                background-color: transparent;
                border-radius: 50%;
                appearance: none;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;
              }

              .checkbox:checked {
                background: linear-gradient(180deg, #ffd572 0%, #febd38 100%);
              }
            }

            > span {
              font-weight: 500;
              font-size: 14px;
              opacity: 0.5;
              // line-height: 15px;
            }
          }
          .activeStepItem {
            .checkboxContainer {
              border-color: #febd38;
            }
            > span {
              opacity: 1;
            }
          }

          .sendToContainer {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 0 2rem 0;
            border-bottom: 1px solid #707070;

            .sendTo {
              display: flex;
              flex-direction: column;

              > span {
                font-weight: 500;
                font-size: 16px;
              }
            }
          }

          .colletaralTextContainer {
            padding: 2rem 0 1rem 0;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            .colletaralText:nth-child(1) {
              font-size: 14px;
              padding: 0 0 0.4rem 0;
            }
            .colletaralText:nth-child(2) {
              font-size: 12px;
              opacity: 0.5;
            }
          }
          .submitProof {
            display: flex;
            flex-direction: column;
            // margin: 1rem 0 0 0;
            gap: 0.5rem;
            > h3 {
              font-weight: 500;
              font-size: 14px;
            }
            > p {
              font-weight: 500;
              font-size: 12px;
              opacity: 0.5;
            }
          }
          .proofCheckbox {
            width: fit-content;
            // margin:2rem 0;
          }
          .actionButton {
            display: flex;
            align-items: center;
            gap: 1rem;

            .rightText {
              font-weight: 500;
              font-size: 12px;
              opacity: 0.5;
            }
          }
        }
        .lastContent {
          padding-bottom: 0;
        }
      }
    }
  }

  .cancelContainer {
    display: flex;
    align-items: center;
    .cancel {
      font-weight: 400;
      font-size: 16px;
      background: linear-gradient(180deg, #ffd572 0%, #febd38 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.closeIcon {
  font-size: 2.5rem;
  color: #616575;
}
.buttonContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.confirmed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .transactionLink {
    display: flex;
    flex-direction: column;
    position: relative;

    > h6 {
      font-weight: 600;
      font-size: 10px;
      opacity: 0.5;
      position: absolute;
      top: -2rem;
    }

    .linkBox {
      padding: 0.8rem;
      display: flex;
      border: 1px solid #99999b;
      align-items: center;
      gap: 1rem;
      border-radius: 8px;
      > span {
        font-weight: 700;
        font-size: 12px;
        flex: 1;
        text-overflow: ellipsis;
      }
      .iconBox {
        height: 100%;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          180deg,
          rgba(255, 213, 114, 0.1) 0%,
          rgba(254, 189, 56, 0.1) 100%
        );
        cursor: pointer;
        border-radius: 8px;

        .icon {
          color: #febd38;
        }
      }
    }
  }
}

.timer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #ffd572 0%, #febd38 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 10px 20px rgba(251, 204, 100, 0.25);
}

.spacing {
  width: 100%;
  padding: 0.5rem 0;
}
@media screen and (max-width: 768px) {
  .root {
    .stepsConatiner {
      .step {
        .stepTitle {
          width: 100%;
          .svg {
            left: -3.4rem;
            top: -0.7rem;
          }
        }
        .stepsContentsContainer {
          .stepContent {
            .sendToContainer {
              // .qrImage {
              //   width: 60px;
              //   height: 62px;
              // }

              .sendTo {
                > span {
                  font-weight: 400;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .confirmed {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    .transactionLink {
      width: 100%;
      > h6 {
        width: 100%;
      }
      .linkBox {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

.qrImage {
  width: 60px;
  height: 62px;
}
